<nav style="background-color: black; height: 10x;"
    class="navbar navbar-default bootsnav  navbar-sticky navbar-scrollspy " data-minus-value-desktop="70"
    data-minus-value-mobile="55" data-speed="1000">
    <div class="container">
        <!-- Start Header Navigation -->

        <!-- End Header Navigation -->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div style="margin-top: -20px;" class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
            <ul class="nav navbar" data-in="fadeInDown" data-out="fadeOutUp" style="text-decoration: none;">
                <li style="cursor:pointer;" style="text-decoration: none;" class="scroll ">
                    <h1 class="text-white">SPN</h1>
                </li>
                <li style="cursor:pointer;" class="scroll active"><a>home</a></li>
                <li style="cursor:pointer;" class="scroll"><a>service</a></li>
                <li style="cursor:pointer;" class="scroll"><a>featured cars</a></li>
                <li style="cursor:pointer;" class="scroll"><a>new cars</a></li>
                <li style="cursor:pointer;" class="scroll"><a>brands</a></li>
                <li style="cursor:pointer;" (click)="logOut()" class="scroll"><a>Log Out</a></li>
            </ul><!--/.nav -->
        </div><!-- /.navbar-collapse -->
    </div><!--/.container-->
</nav>

<div>

    <iframe title="admin" width="1340" height="741.25" src="https://app.powerbi.com/reportEmbed?reportId=e52a5a2f-9ddd-45e6-9105-f4c735e9ddb3&autoAuth=true&ctid=604f1a96-cbe8-43f8-abbf-f8eaf5d85730" frameborder="0" allowFullScreen="true"></iframe>
</div>
<footer id="contact" class="contact">
    <div class="container">
        <div class="footer-top">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="single-footer-widget">
                        <div class="footer-logo">
                            <a href="index.html">SPN</a>
                        </div>
                        <p>
                            Swiss Premium Negoce has been selected as the Best Luxury Concierge Company in Switzerland
                            2022 by the worldly renowned organization Luxury Lifestyle Awards. This trophee is a kind of
                            recognition for our hard work and our dedication to our duties. We are honored to be named a
                            winner among the world's most recognizable brands. </p>
                        <div class="footer-contact">
                            <p>contact@swisspremiumnegoce.com</p>
                            <p>+1 (885) 2563154554</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6">
                    <div class="single-footer-widget">
                        <h2>about devloon</h2>
                        <ul>
                            <li><a href="#">about us</a></li>
                            <li><a href="#">career</a></li>
                            <li><a href="#">terms <span> of service</span></a></li>
                            <li><a href="#">privacy policy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12">
                    <div class="single-footer-widget">
                        <h2>top brands</h2>
                        <div class="row">
                            <div class="col-md-7 col-xs-6">
                                <ul>
                                    <li><a href="#">BMW</a></li>
                                    <li><a href="#">lamborghini</a></li>
                                    <li><a href="#">camaro</a></li>
                                    <li><a href="#">audi</a></li>
                                    <li><a href="#">infiniti</a></li>
                                    <li><a href="#">nissan</a></li>
                                </ul>
                            </div>
                            <div class="col-md-5 col-xs-6">
                                <ul>
                                    <li><a href="#">ferrari</a></li>
                                    <li><a href="#">porsche</a></li>
                                    <li><a href="#">land rover</a></li>
                                    <li><a href="#">aston martin</a></li>
                                    <li><a href="#">mersedes</a></li>
                                    <li><a href="#">opel</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-offset-1 col-md-3 col-sm-6">
                    <div class="single-footer-widget">
                        <h2>news letter</h2>
                        <div class="footer-newsletter">
                            <p>
                                Subscribe to get latest news update and informations
                            </p>
                        </div>
                        <div class="hm-foot-email">
                            <div class="foot-email-box">
                                <input type="text" class="form-control" placeholder="Add Email">
                            </div><!--/.foot-email-box-->
                            <div class="foot-email-subscribe">
                                <span><i class="fa fa-arrow-right"></i></span>
                            </div><!--/.foot-email-icon-->
                        </div><!--/.hm-foot-email-->
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="row">
                <div class="col-sm-6">
                    <p>
                        &copy; copyright.designed and developed by <a href="https://www.themesine.com/">themesine</a>.
                    </p><!--/p-->
                </div>
                <div class="col-sm-6">
                    <div class="footer-social">
                        <a href="https://www.facebook.com/Swiss.premium.negoce"><i class="fa fa-facebook"></i></a>
                        <a href="https://www.instagram.com/swisspremiumnegoce/"><i class="fa fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/company/swiss-premium-negoce/"><i
                                class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-pinterest-p"></i></a>
                        <a href="#"><i class="fa fa-behance"></i></a>
                    </div>
                </div>
            </div>
        </div><!--/.footer-copyright-->
    </div><!--/.container-->

    <div id="scroll-Top">
        <div class="return-to-top">
            <i class="fa fa-angle-up " id="scroll-top" data-toggle="tooltip" data-placement="top" title=""
                data-original-title="Back to Top" aria-hidden="true"></i>
        </div>

    </div><!--/.scroll-Top-->

</footer>